In [1]:
import numpy as np
import pandas as pd

In [5]:
cd C:\Users\tyler\Documents\MY_MSC\Python_MSc\

C:\Users\tyler\Documents\MY_MSC\Python_MSc

In [12]:
x=pd.read_csv("./SOURCE_DATA/FLUID_VALUES.csv")
x.head()

,fluidFlag,fluidName,rho,mu,K_SE,latexName
0,1,air,1.206,0.000018,1,Air
1,2,heliox,0.399,0.000022,1,He-$\mathrm{O_2}$ (80/20)
2,3,entonox,1.580,0.000016,1,$\mathrm{N_2O}$-$\mathrm{O_2}$ (50/50)

In [18]:
x.latexName[x.fluidFlag==1]

0    Air
Name: latexName, dtype: object